/* Reset styles */
* {
    margin: 0;
    padding: 0;
}

/* Center the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f0f0; /* Light background for better visibility */
}

/* Form styling */
form {
    width: 450px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 100px);
    padding: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
