<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Sign Up Form</title>
    <link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
<body>
<nav class="navbar">
    <div class="logo-container">
        <img class="logo" th:src="@{/images/culogo.png}" alt="CU Logo">
        <div class="logo-text">
            <p>COMPUTER SCIENCE AND ENGINEERING</p>
            <p>UNIVERSITY OF CHITTAGONG</p>
        </div>
    </div>





    <div class="dropdown">
        <button class="dropdown-toggle">About Us</button>
        <ul class="dropdown-menu">
            <li><a th:href="@{/showVision}">Vision and Mission</a></li>
            <li><a th:href="@{/showHistory}">Our History</a></li>
            <li><a th:href="@{/showBatch}">Batch Representative</a></li>


        </ul>
    </div>

</nav>


<div class="sidebar">
    <ul>
        <li>
            Events
            <ul class="submenu">
                <li><a th:href="@{/eventAll}">Event List</a></li>
                <li><a th:href="@{/eventForm}">Create Event</a></li>

            </ul>
        </li>
    </ul>

    <ul>
        <li>
            Expense
            <ul class="submenu">
                <li><a th:href="@{/expenseShow}">Expense info</a></li>
                <li><a th:href="@{/expenseForm}">Create new Expense</a></li>

            </ul>
        </li>
    </ul>

    <ul>
        <li>
            Member
            <ul class="submenu">
                <li><a th:href="@{/usershowPage}">Members Info</a></li>
                <li><a th:href="@{/}">Teacher</a></li>

            </ul>
        </li>
    </ul>
</div>



<div class="flex-container-user">
    <section class="event-section-userAdmin">
        <div class="user-container">
            <!-- Left Side: User Information -->
            <div class="section-container-user">
                <p class="user-name" th:text="${User.name}">0</p>
                <p class="user-info">Batch: <span th:text="${User.batch}">0</span></p>
                <p class="user-info">Session: <span th:text="${User.session}">0</span></p>
                <p class="user-info">Email: <span th:text="${User.email}">0</span></p>
                <p class="user-info">Mobile: <span th:text="${User.mobile}">0</span></p>
            </div>

            <!-- Right Side: Profile Picture -->
            <div class="user-details">
                <img
                        class="user-profile-pic"
                        th:src="@{${User.Pic}}"
                        alt="User Profile Picture"
                        width="150" height="150">
            </div>
        </div>
    </section>
</div>




<div class="flex-container">
    <section class="event-section-u">
        <div class="section-container-m">
            <h1 class="section-title">Total Members</h1>
            <br>
            <p class="section-description">
                <strong th:text="${totalUsers}">0</strong>
            </p>
        </div>
    </section>

    <section class="event-section">
        <div class="section-container-m">
            <h1 class="section-title">Total Events</h1>
            <br>
            <p class="section-description">
                <strong th:text="${totalEvents}">0</strong>
            </p>
        </div>
    </section>

    <section class="event-section">
        <div class="section-container-e">
            <h1 class="section-title">Total Expense</h1>
            <br>
            <p class="section-description">
                <strong th:text="${totalExpense}">0</strong>
            </p>
        </div>
    </section>
</div>


<h1 >Upcoming Events</h1>

<div class="events-container">

    <div class="item-container" th:each="event : ${events}">
        <div class="event-info">
            <p class="title" th:text="${event.name}">Event Name</p>
            <div class="separator"></div>
            <p class="info" th:text="${event.fee}">Fee</p>

            <div class="additional-info">
                <p class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <span th:text="${event.venue}">Venue</span>
                </p>
                <p class="info">
                    <i class="far fa-calendar-alt"></i>
                    <span th:text="${#dates.format(event.eventDate, 'EEEE dd-MM-yyyy')}">Date</span>
                </p>
                <p class="info">Registration Start:
                    <span th:text="${#dates.format(event.registrationStart, 'dd/MM/yyyy')}"></span>
                </p>
                <p class="info">Registration End:
                    <span th:text="${#dates.format(event.registrationEnd, 'dd/MM/yyyy')}"></span>
                </p>

            </div>
        </div>
    </div>
</div>



</body>
</html>
