<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision and Mission</title>
    <link rel="stylesheet" th:href="@{/css/contact.css}">
</head>
<body>
<nav class="navbar">
    <div class="logo-container">
        <img class="logo" th:src="@{/images/culogo.png}" alt="CU Logo">
        <div class="logo-text">
            <p>COMPUTER SCIENCE AND ENGINEERING</p>
            <p>UNIVERSITY OF CHITTAGONG</p>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropdown-toggle">Event</button>
        <ul class="dropdown-menu">
            <li><a th:href="@{/upEventShow}">Upcoming Event</a></li>

        </ul>
    </div>

    <div class="dropdown">
        <button class="dropdown-toggle" onclick="redirectToLogin()">Login</button>
    </div>



    <div class="dropdown">
        <button class="dropdown-toggle">About Us</button>
        <ul class="dropdown-menu">
            <li><a th:href="@{/showVision}">Vision and Mission</a></li>
            <li><a th:href="@{/showHistory}">Our History</a></li>
            <li><a th:href="@{/showBatch}">Batch Representative</a></li>

        </ul>
    </div>

</nav>


<div class="flex-container">
    <section class="event-section">
        <div class="section-container">
            <h1 class="section-title">Map Location</h1>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8321.52606629714!2d91.77578402912094!3d22.469705919310407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd6fcf93fffff%3A0x12b289338778d80f!2sIT%20Building!5e0!3m2!1sen!2sbd!4v1733141646686!5m2!1sen!2sbd" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

    <section class="event-section">
        <div class="section-container-m">
            <h1 class="section-title">Contact Details</h1>
            <br>
            <table class="contact-table">
                <tr>
                    <td><strong>Address:</strong></td>
                    <td>IT Building, University of Chittagong, Hathajari, Chittagong-4331, Bangladesh</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>
                        <a href="mailto:fahmidaaliya88@gmail.com">fahmidaaliya88@gmail.com</a><br>

                    </td>
                </tr>
                <tr>
                    <td><strong>Mobile:</strong></td>
                    <td>+8801845285435</td>
                </tr>
            </table>
        </div>
    </section>


</div>


<script>
    function redirectToLogin() {
        window.location.href = '/login';
    }
</script>




<footer>
    <div class="footer-content">
        <p class="developer">Developed by Fahmida</p>
    </div>
</footer>


</body>
</html>
