<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision and Mission</title>
    <link rel="stylesheet" th:href="@{/css/vision.css}">
</head>
<body>
<nav class="navbar">
    <div class="logo-container">
        <img class="logo" th:src="@{/images/culogo.png}" alt="CU Logo">
        <div class="logo-text">
            <p>COMPUTER SCIENCE AND ENGINEERING</p>
            <p>UNIVERSITY OF CHITTAGONG</p>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropdown-toggle">Event</button>
        <ul class="dropdown-menu">
            <li><a th:href="@{/upEventShowHome}">Upcoming Event</a></li>

        </ul>
    </div>

    <div class="dropdown">
        <button class="dropdown-toggle" onclick="redirectToLogin()">Login</button>
    </div>


    <div class="dropdown">
        <button class="dropdown-toggle">About Us</button>
        <ul class="dropdown-menu">
            <li><a th:href="@{/showVision}">Vision and Mission</a></li>
            <li><a th:href="@{/showHistory}">Our History</a></li>
            <li><a th:href="@{/showBatch}">Batch Representative</a></li>
            <li><a th:href="@{/showContact}">Contact Us</a></li>

        </ul>
    </div>

</nav>


<div class="flex-container">
    <section class="event-section">
        <div class="section-container">
            <h1 class="section-title">Vision</h1>
            <p class="section-description">To build a strong and supportive community where CSE students can learn, grow, and work together to achieve their goals and create a better future through technology.</p>
        </div>
    </section>

    <section class="event-section">
        <div class="section-container-m">
            <h1 class="section-title">Mission</h1>
            <br>
            <p class="section-description">
                The CSECU Association is a student-driven organization aimed at fostering academic, professional, and personal development for students in the Computer Science and Engineering department. Our mission is to provide a platform for students to enhance their technical knowledge, build essential skills, and engage with peers and industry professionals through a variety of events and activities. These include workshops, coding challenges, guest lectures, and networking opportunities that support learning, creativity, and leadership. By encouraging collaboration and innovation, we strive to prepare our members for success in both their academic pursuits and future careers in the tech industry.
            </p>
        </div>
    </section>

</div>


<script>
    function redirectToLogin() {
        window.location.href = '/login';
    }
</script>




<footer>
    <div class="footer-content">
        <p class="developer">Developed by Fahmida</p>
    </div>
</footer>


</body>
</html>
